body {
	font-size: 20px;
}

/*BARRE LATERALE*/

.image {
	border-radius: 50%;
}

#photo {
	height: 30em;
	width: 19em;
}

.webIcon {
	display: flex;
	justify-content: center;
	padding: 0.5em;
	padding-bottom: 1em;
}

.webIcon a:hover {
	background-color: black;
}

.address, .age, .mail {
	color: white;
	font-size: 1.5em;
}
.mail {
	margin-bottom: 1.5em;
}

.mail a {
	color: white;
	text-decoration: underline;
}
.mail a:hover {
	color: black;
}

.address {
	margin: 0;
	margin-top: 0.3em;
}

.titleLeftColumn {
	text-transform: uppercase;
	color: white;
	padding-top: 1em;
}

.subtitleLeft {
	font-size: 1.4em;
}

.subtitleLeft span, .subtitleLeft li  {
	color: white;
	list-style-type: none;
}

.interet {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.interet span, .subtitleLeft li {
	padding: 0.4em;
}

.meetup a {
	color: white;
	text-decoration: underline;
}

.meetup a:hover, .project a:hover {
	color: black;
	padding: 0.4em;
}

.barre.barre.barre.barre.barre {
	background-color: #a6172d;
	display: flex;
	flex-direction: column;
}

/*FIN BARRE LATERALE*/

.ui.very.padded.segment.entete {
	text-align: center;
	margin-left: 2em;
	padding-left: 25em;
	padding-right: 20.4em;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}

.punchline {
	text-align: center;
	color: #a6172d;
	max-width: 100%;
}

.citation {
	font-style: italic;
	font-size: 1.3em;
	padding-left: 2em;
	padding-right: 1em;
}

.name.name.name {
	font-size: 2.5em;
	text-decoration: none;
}

.job.job.job {
	font-size: 2em;
	text-decoration: none;
}

#barMenu {
	width: 100%;
	font-size: 1.8em;
}


.titleRightColumn {
	text-align: center;
	font-size: 2.2em;
	padding-top: 1em;
}

#bloc1, #bloc2, #bloc3 {
	border: solid lightgrey 0.1em;
	padding: 2em;
	margin-top: 1.5em;
	margin-left: 6em;
	margin-right: 1em;
}

#bloc1bis {
	border: solid lightgrey 0.1em;
	padding: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 1em;
}

.date {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 0.2em;
}

.project {
	display: flex;
	flex-direction: row;
	font-size: 1.4em;
}

.header {
	font-size: 1.2em;
	text-decoration: underline;
	font-weight: bold;
	color: #a6172d;
}

.description, .header {
	padding: 0.7em;
}

.logoJob {
	padding-top: 3em;
}

.detail {
	font-size: 1.4em;
	font-weight: normal;
}

.title2 {
	font-size: 1.8em;
	color: #a6172d;
}

.poste {
	color: black;
	font-size: 1.7em;
	text-align: center;
}

.liste li {
	font-size: 1.5em;
	padding: 0.2em;
}

.image, .info {
	align-self: center;
	margin: 1em;
}

.test {
	text-decoration: underline;
}