body {
	font-size: 20px;
}

/*BARRE LATERALE*/

.image {
	border-radius: 50%;
}

.webIcon {
	display: flex;
	justify-content: center;
	padding-bottom: 1.5em;
}

.webIcon a:hover {
	background-color: black;
}

.address, .age, .mail {
	color: white;
	font-size: 1.5em;
}
.mail {
	margin-bottom: 1.5em;
}

.address {
	margin: 0;
	margin-top: 0.3em;
}

.titleLeftColumn {
	text-transform: uppercase;
	color: white;
	padding-top: 1em;
}

.subtitleLeft {
	font-size: 1.3em;
}

.subtitleLeft span {
	color: white;
}

.interet {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.interet span {
	padding: 0.5em;
}

.meetup a {
	color: white;
	text-decoration: underline;
}

.meetup a:hover {
	background-color: black;
}

.projectList li a{
	color: black;
}


.barre.barre.barre.barre.barre {
	background-color: #4682B4;
	display: flex;
	flex-direction: column;
}

/*FIN BARRE LATERALE*/

.name.name.name {
	font-size: 2.5em;
}

.job.job.job {
	font-size: 1.5em;
}

.punchline {
	padding-right: 7em;
	padding-left: 7em;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	color: #4682B4;
}

.author, .citation {
	font-style: italic;
	font-size: 1.8em;
}

.titleRightColumn {
	text-align: center;
	padding-top: 1em;
}

#bloc1, #bloc2, #bloc3 {
	border: solid lightgrey 0.1em;
	padding: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 6em;
	margin-right: 3em;
}

.date {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 0.2em;
}

.detail {
	font-size: 1.4em;
	font-weight: normal;
}

.poste, .title2 {
	font-size: 1.7em;
}

.poste {
	color: black;
}

.title2 {
	color: #4682B4;
}

.liste {
	font-size: 1.2em;
}

.image, .info {
	align-self: center;
	margin: 1em;
}

.projectList .columnFirst {
	padding-left: 7em;
}

.projectList .columnOther {
	padding-left: 3em;
}
